<div id="top-nav">
  <div><app-about-me></app-about-me></div>
  <div><app-resume></app-resume></div>
  <div><app-portfolio></app-portfolio></div>
  <div><app-blog></app-blog></div>
  <div>><app-contact-me></app-contact-me></div>
</div>

<div><app-page-title></app-page-title></div>

<div id="content">
  <div id="left-content">
      <app-professional-details></app-professional-details>
  </div>
  <div id="right-content"><app-particulars></app-particulars>
    <app-personal-details></app-personal-details>
    <app-description></app-description>
  </div>

</div>

